<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple tweetter clone</title>
    <!-- CDN Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <!-- VueJS development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Style sheet -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div id="app">
      <!-- Register an account -->
      <div class="card">
        <i class="fab fa-twitter fa-lg fa-fw"></i>
        <div class="register" v-if="!registered">
          <h2>Create an account</h2>
          <form id="register" v-on:submit.prevent="registerAccount">
            <div class="form_group">
              <label for="name"
                >Name:
                <span>{{ name.length + '/' + max_length }}</span>
              </label>
              <input
                type="text"
                v-model="name"
                required
                :maxlength="max_length"
              />
            </div>
            <div class="form_group">
              <label for="email"
                >Email:
                <span>{{ email.length + '/' + max_length }}</span>
              </label>
              <input
                type="email"
                v-model="email"
                :maxlength="max_length"
                required
              />
            </div>
            <div class="form_group">
              <label for="password"
                >Password:
                <span>{{ password.length + '/' + max_pass_length }}</span>
              </label>
              <input
                type="password"
                v-model="password"
                :maxlength="max_pass_length"
                required
              />
            </div>
            <button form="register" type="submit">Register</button>
          </form>
          <div v-if="error.length > 0">{{error}}</div>
        </div>
        <!-- Add a tweet -->
        <div class="tweetBox" v-else>
          <h2>Welcome {{userData.name}} write your first Tweet</h2>
          <form v-on:submit.prevent="sendTweet ">
            <div class="form_group">
              <label for="tweet">
                Send your tweet
                <span> {{ tweetMsg.length + '/' + max_tweet }}</span>
              </label>
              <textarea
                name="tweet"
                id="tweet"
                cols="30"
                rows="10"
                v-model="tweetMsg"
                maxlength="200"
              ></textarea>
            </div>
            <button type="submit">Tweet</button>
          </form>
        </div>
      </div>

      <!-- Show all tweets -->
      <div class="card_tweets">
        <section class="tweets" v-if="tweets.length > 0">
          <h2>Tweets</h2>
          <div class="tweetMsg" v-for="(tweet, index) in tweets">
            <p>
              {{tweet.text}}
            </p>
            <div class="tweetDate">
              <i class="fas fa-calendar-alt fa-sm fa-fw"></i>{{tweet.date}}
            </div>
            <div class="tweet_remove" @click="removeTweet(index)">
              <span class="remove">Delete this tweet <i class="fas fa-trash fa-xs fa-fw"></i></span>
          </div>
          </div>
          
        </section>
        <div v-else>No tweets to show</div>
      </div>
    </div>
    <!-- Link our main.js file -->
    <script src="./js/main.js"></script>
  </body>
</html>
